<div id="left">
  <div class="left_container">
    <div id="navBtnContainer">
      <div id="leftNavBtn" class="navBtn" title="Previous Entry">
        <a href="#">
          <svg
            width="336"
            height="336"
            viewBox="0 0 336 336"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <g clip-path="url(#clip0)">
              <path
                d="M97.0729 266.971L-0.102116 167.706L97.0729 68.441V125.91L230.82 125.91L230.82 209.502H97.0729V266.971Z"
                fill="#00EFD1"
              />
              <path
                d="M262.269 219.951C256.498 219.951 251.82 215.273 251.82 209.502V125.91C251.82 120.139 256.498 115.461 262.269 115.461C268.04 115.461 272.718 120.139 272.718 125.91V209.502C272.718 215.273 268.04 219.951 262.269 219.951Z"
                fill="#00ACEA"
              />
              <path
                d="M293.616 219.951C287.845 219.951 283.167 215.273 283.167 209.502V125.91C283.167 120.139 287.845 115.461 293.616 115.461C299.387 115.461 304.065 120.139 304.065 125.91V209.502C304.065 215.273 299.387 219.951 293.616 219.951Z"
                fill="#00ACEA"
              />
              <path
                d="M324.963 219.951C319.192 219.951 314.514 215.273 314.514 209.502V125.91C314.514 120.139 319.192 115.461 324.963 115.461C330.734 115.461 335.412 120.139 335.412 125.91V209.502C335.412 215.273 330.734 219.951 324.963 219.951Z"
                fill="#00ACEA"
              />
            </g>
            <defs>
              <clipPath id="clip0">
                <rect
                  width="335.412"
                  height="335.412"
                  fill="white"
                  transform="translate(335.412 335.412) rotate(-180)"
                />
              </clipPath>
            </defs>
          </svg>
        </a>
      </div>
      <div class="navBtn" title="New Entry">
        <a href="/entry/new">
          <svg
            id="Capa_1"
            enable-background="new 0 0 512 512"
            height="512"
            viewBox="0 0 512 512"
            width="512"
            xmlns="http://www.w3.org/2000/svg"
          >
            <g>
              <g>
                <path
                  d="m107.686 0-17.694 37.694-46.041 26.04v373.064h168.098l20-203.232-20-233.566z"
                  fill="#fff5f5"
                />
                <path d="m212.049 0h162.791v436.798h-162.791z" fill="#dce6eb" />
              </g>
              <path d="m107.686 0v63.734h-63.735z" fill="#dce6eb" />
              <g>
                <path
                  d="m212.049 162.369h-106.31v-30h106.31l10 15z"
                  fill="#dce6eb"
                />
              </g>
              <g>
                <path
                  d="m212.049 226.104h-106.31v-30h106.31l10 15z"
                  fill="#dce6eb"
                />
              </g>
              <g>
                <path
                  d="m212.049 289.838h-106.31v-30h106.31l10 15z"
                  fill="#dce6eb"
                />
              </g>
              <g>
                <path
                  d="m212.049 132.369h101.004v30h-101.004z"
                  fill="#c8d2dc"
                />
              </g>
              <g>
                <path
                  d="m212.049 196.104h101.004v30h-101.004z"
                  fill="#c8d2dc"
                />
              </g>
              <g>
                <path
                  d="m212.049 259.838h101.004v30h-101.004z"
                  fill="#c8d2dc"
                />
              </g>
              <g>
                <circle cx="371.208" cy="415.159" fill="#3d9ae2" r="96.841" />
                <path
                  d="m413.726 400.159h-27.518v-27.518h-30v27.518h-27.519v30h27.519v27.519h30v-27.519h27.518z"
                  fill="#dce6eb"
                />
              </g>
            </g>
          </svg>
        </a>
      </div>
      <div class="navBtn" title="Random Entry">
        <a href="/entry/random">
          <svg
            height="512"
            viewBox="0 0 512 512"
            width="512"
            xmlns="http://www.w3.org/2000/svg"
          >
            <g id="Filled_Outline" data-name="Filled Outline">
              <path
                d="m480.971 135.029-64-64a24 24 0 0 0 -33.942 33.942l23.03 23.029h-60.584c-60.225 0-112.05 50.772-126.03 123.468-4.8 24.96-15.807 47.194-30.993 62.609-14.131 14.342-30.695 21.923-47.901 21.923h-92.551a24 24 0 0 0 0 48h92.551c60.224 0 112.05-50.772 126.031-123.468 4.8-24.96 15.806-47.195 30.993-62.609 14.13-14.342 30.694-21.923 47.9-21.923h60.584l-23.03 23.029a24 24 0 0 0 33.942 33.942l64-64a24 24 0 0 0 0-33.942z"
                fill="#00ACEA"
              />
              <path
                d="m480.971 343.029-64-64a24 24 0 0 0 -33.942 33.942l23.03 23.029h-60.584c-17.206 0-33.77-7.581-47.9-21.923-15.187-15.415-26.194-37.649-30.993-62.609-13.982-72.697-65.807-123.468-126.031-123.468h-92.551a24 24 0 0 0 0 48h92.551c17.206 0 33.77 7.581 47.9 21.923 15.186 15.414 26.193 37.649 30.993 62.609 13.981 72.696 65.806 123.468 126.031 123.468h60.584l-23.03 23.029a24 24 0 0 0 33.942 33.942l64-64a24 24 0 0 0 0-33.942z"
                fill="#00ACEA"
              />
              <path
                d="m422.64 273.365a32 32 0 0 0 -45.256 45.257l9.373 9.378h-41.272c-15.016 0-29.61-6.756-42.2-19.539-12.865-13.058-22.5-31.522-27.516-52.464 5.011-20.942 14.651-39.406 27.516-52.464 12.593-12.783 27.187-19.539 42.2-19.539h41.272l-9.373 9.373a32 32 0 1 0 45.256 45.257l64-64a32.038 32.038 0 0 0 0-45.257l-64-64a32 32 0 0 0 -45.256 45.258l9.373 9.373h-41.272c-40.339 0-77.08 21.17-102.456 55.917-25.377-34.753-62.13-55.917-102.474-55.917h-92.555a32 32 0 1 0 0 64h92.554c15.016 0 29.609 6.756 42.2 19.539 12.865 13.058 22.5 31.523 27.517 52.464-5.012 20.941-14.652 39.406-27.517 52.464-12.59 12.774-27.183 19.535-42.199 19.535h-92.555a32 32 0 0 0 0 64h92.554c40.34 0 77.073-21.179 102.447-55.929 25.379 34.757 62.136 55.929 102.484 55.929h41.272l-9.373 9.373a32 32 0 1 0 45.256 45.257l64-64a32.038 32.038 0 0 0 0-45.257zm-77.155-137.378h60.586a8 8 0 0 0 5.657-13.657l-23.028-23.03a16 16 0 0 1 22.628-22.629l64 64a16 16 0 0 1 0 22.629l-64 64a16 16 0 1 1 -22.628-22.624l23.03-23.03a8 8 0 0 0 -5.657-13.657h-60.588c-19.4 0-37.933 8.406-53.6 24.309a117.588 117.588 0 0 0 -23.214 34.868 183.355 183.355 0 0 0 -16.219-36.829c22.498-33.656 56.096-54.35 93.033-54.35zm-204.93 240.013h-92.555a16 16 0 1 1 0-32h92.554c19.4 0 37.932-8.406 53.6-24.309a117.558 117.558 0 0 0 23.217-34.858 183.288 183.288 0 0 0 16.206 36.8c-22.496 33.657-56.084 54.367-93.022 54.367zm334.773-4.686-64 64a16 16 0 1 1 -22.628-22.63l23.03-23.03a8 8 0 0 0 -5.659-13.654h-60.586c-56.335 0-104.932-48.106-118.178-116.983-5.095-26.5-16.868-50.188-33.151-66.716-15.669-15.9-34.2-24.309-53.6-24.309h-92.556a16 16 0 1 1 0-32h92.554c56.335 0 104.932 48.106 118.178 116.983 5.095 26.495 16.868 50.188 33.151 66.715 15.668 15.9 34.2 24.31 53.6 24.31h60.586a8 8 0 0 0 5.657-13.657l-23.03-23.03a16 16 0 0 1 22.628-22.629l64 64a16 16 0 0 1 0 22.629z"
              />
            </g>
          </svg>
        </a>
      </div>
      <div id="rightNavBtn" class="navBtn" title="Next Entry">
        <a href="#">
          <svg
            version="1.1"
            id="Capa_1"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            x="0px"
            y="0px"
            viewBox="0 0 335.412 335.412"
            style="enable-background: new 0 0 335.412 335.412"
            xml:space="preserve"
          >
            <g>
              <polygon
                style="fill: #00efd1"
                points="238.237,68.441 335.412,167.706 238.237,266.971 238.237,209.502 104.49,209.502 
		104.49,125.91 238.237,125.91 	"
              />
              <g>
                <path
                  style="fill: #00acea"
                  d="M73.143,115.461L73.143,115.461c5.771,0,10.449,4.678,10.449,10.449v83.592
			c0,5.771-4.678,10.449-10.449,10.449l0,0c-5.771,0-10.449-4.678-10.449-10.449V125.91
			C62.694,120.139,67.372,115.461,73.143,115.461z"
                />
                <path
                  style="fill: #00acea"
                  d="M41.796,115.461L41.796,115.461c5.771,0,10.449,4.678,10.449,10.449v83.592
			c0,5.771-4.678,10.449-10.449,10.449l0,0c-5.771,0-10.449-4.678-10.449-10.449V125.91
			C31.347,120.139,36.025,115.461,41.796,115.461z"
                />
                <path
                  style="fill: #00acea"
                  d="M10.449,115.461L10.449,115.461c5.771,0,10.449,4.678,10.449,10.449v83.592
			c0,5.771-4.678,10.449-10.449,10.449l0,0C4.678,219.951,0,215.273,0,209.502V125.91C0,120.139,4.678,115.461,10.449,115.461z"
                />
              </g>
            </g>
            <g></g>
            <g></g>
            <g></g>
            <g></g>
            <g></g>
            <g></g>
            <g></g>
            <g></g>
            <g></g>
            <g></g>
            <g></g>
            <g></g>
            <g></g>
            <g></g>
            <g></g>
          </svg>
        </a>
      </div>
    </div>
    <div class="top_left">
      <span class="top_left_text"> Current Entry </span>
    </div>
    <ul id="current_entry">
      <li>
        <div class="entry_item showDustbin" id="<%= currentEntry._id %>">
          <div>
            <a href="/entry/<%= currentEntry._id %> ">
              <%= currentEntry.title %>
            </a>
          </div>
          <div id="date_label">
            <%= new Intl.DateTimeFormat('en-US', { weekday: 'long' , year:
            'numeric' , month: 'long' , day: 'numeric'
            }).format(currentEntry.date) %>
          </div>
        </div>
      </li>
    </ul>
    <div class="top_left">
      <span class="top_left_text"> Latest Entries </span>
    </div>
    <ul id="entry_list">
      <% for( let entry of entries) { %>
      <li>
        <div class="entry_item" id="<%= entry._id %>">
          <div>
            <a href="/entry/<%= entry._id %> "> <%= entry.title %> </a>
          </div>
          <div id="date_label">
            <%= new Intl.DateTimeFormat('en-US', { weekday: 'long' , year:
            'numeric' , month: 'long' , day: 'numeric' }).format(entry.date) %>
          </div>
        </div>
      </li>
      <% } %>
    </ul>
    <div class="top_left">
      <span class="top_left_text"> Related Entries </span>
    </div>
    <ul id="entry_list">
      <% for( let entry of nextEntries) { %>
      <li>
        <div class="entry_item" id="<%= entry._id %>">
          <div>
            <a href="/entry/<%= entry._id %> "> <%= entry.title %> </a>
          </div>
          <div id="date_label">
            <%= new Intl.DateTimeFormat('en-US', { weekday: 'long' , year:
            'numeric' , month: 'long' , day: 'numeric' }).format(entry.date) %>
          </div>
        </div>
      </li>
      <% } %> <% for( let entry of prevEntries) { %>
      <li>
        <div class="entry_item" id="<%= entry._id %>">
          <div>
            <a href="/entry/<%= entry._id %> "> <%= entry.title %> </a>
          </div>
          <div id="date_label">
            <%= new Intl.DateTimeFormat('en-US', { weekday: 'long' , year:
            'numeric' , month: 'long' , day: 'numeric' }).format(entry.date) %>
          </div>
        </div>
      </li>
      <% } %>
      <li id="view_all_entries_root">
        <div class="entry_item" id="view_all_entries">
          <a href="/entry/all">View All</a>
        </div>
      </li>
    </ul>
  </div>
</div>
