<div id="right_pane">
    <div class="right_container">
        <div class="username">
            <h1><%= user.username %></h1>
            <a href="/logout" id="logout">Log out</a>
        </div>
        <div class="entryCount">
            <h2>
                <%= user.entryCount %> <%= user.entryCount===1?'Entry':'Entries'
                %> written so far
            </h2>
        </div>
        <ul>
            <li>
                <input type="radio" name="theme" id="lightRadio" <%=
                theme==='light'?'checked':'' %> />
                <label for="lightRadio">Light</label>
                <input type="radio" name="theme" id="darkRadio" <%=
                theme==='dark'?'checked':'' %>/>
                <label for="darkRadio">Dark</label>
            </li>
        </ul>
    </div>
</div>
