<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lora&family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link href="https://cdn.quilljs.com/1.2.6/quill.snow.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lora&display=swap" rel="stylesheet">
    <script src="https://cdn.quilljs.com/1.2.6/quill.min.js"></script>
    <link rel="stylesheet" href="/css/main/styles.css">
    <title>Website</title>
</head>

<body>
    <%- include('../partials/hamburger') %>
    <%- include('../partials/error_screen') %>
    <%- include('../partials/loading_screen') %>
    <%- include('../partials/left_pane') %>
    <%- body %>
</body>
</html>