<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lora&family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link href="https://cdn.quilljs.com/1.2.6/quill.snow.css" rel="stylesheet">
    <script src="https://cdn.quilljs.com/1.2.6/quill.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap" rel="stylesheet">
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"> -->
    <link rel="stylesheet" href="/css/main/styles.css">
    <title>Website</title>
</head>

<body class="unscroll dark">
    <%- include('../partials/top_bar') %>
    <%- include('../partials/error_screen') %>
    <%- include('../partials/loading_screen') %>
    <%- include('../partials/left_bar') %>
    <%- include('../partials/left_pane') %>
    <!-- <div id="right"> -->
        <%- include('../partials/right_pane') %>
    <!-- </div> -->
    <%- body %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="/js/stopTransition.js"></script>
    <script src="/js/settings.js"></script>
</body>
</html>