<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="preconnect" href="https://fonts.gstatic.com" />
        <link
            href="https://fonts.googleapis.com/css2?family=Lora&family=Roboto:wght@300&display=swap"
            rel="stylesheet"
        />
        <link
            href="https://cdn.quilljs.com/1.2.6/quill.snow.css"
            rel="stylesheet"
        />
        <script src="https://cdn.quilljs.com/1.2.6/quill.min.js"></script>
        <link
            href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap"
            rel="stylesheet"
        />
        <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"> -->
        <link rel="stylesheet" href="/css/main/styles.css" />
        <title>Website</title>
    </head>

    <body class="unscroll dark">
        <%- include('../partials/top_bar') %> <%-
        include('../partials/error_screen') %> <%-
        include('../partials/loading_screen') %> <%-
        include('../partials/left_bar') %> <%- include('../partials/left_pane')
        %>
        <div id="leftNavBtn">
            <svg
                version="1.1"
                id="Capa_1"
                xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink"
                x="0px"
                y="0px"
                viewBox="0 0 512 512"
                style="enable-background: new 0 0 512 512"
                xml:space="preserve"
            >
                <linearGradient
                    id="SVGID_1_"
                    gradientUnits="userSpaceOnUse"
                    x1="0"
                    y1="258.0002"
                    x2="512.0004"
                    y2="258.0002"
                    gradientTransform="matrix(1 0 0 -1 0 514.0004)"
                >
                    <stop offset="0" style="stop-color: #80d8ff" />
                    <stop offset="0.16" style="stop-color: #88d1ff" />
                    <stop offset="0.413" style="stop-color: #9fbefe" />
                    <stop offset="0.725" style="stop-color: #c4a0fd" />
                    <stop offset="1" style="stop-color: #ea80fc" />
                </linearGradient>
                <path
                    style="fill: url(#SVGID_1_)"
                    d="M5.866,241.843c0.006-0.006,0.011-0.013,0.018-0.019l104.504-104
c7.829-7.791,20.493-7.762,28.285,0.068c7.792,7.829,7.762,20.492-0.067,28.284L68.442,236H492c11.046,0,20,8.954,20,20
c0,11.046-8.954,20-20,20H68.442l70.162,69.824c7.829,7.792,7.859,20.455,0.067,28.284c-7.793,7.831-20.457,7.858-28.285,0.068
l-104.504-104c-0.006-0.006-0.011-0.013-0.018-0.019C-1.968,262.339-1.943,249.635,5.866,241.843z"
                />
                <g></g>
                <g></g>
                <g></g>
                <g></g>
                <g></g>
                <g></g>
                <g></g>
                <g></g>
                <g></g>
                <g></g>
                <g></g>
                <g></g>
                <g></g>
                <g></g>
                <g></g>
            </svg>
        </div>
        <div id="rightNavBtn">
            <svg
                version="1.1"
                id="Capa_1"
                xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink"
                x="0px"
                y="0px"
                viewBox="0 0 512 512"
                style="enable-background: new 0 0 512 512"
                xml:space="preserve"
            >
                <linearGradient
                    id="SVGID_1_"
                    gradientUnits="userSpaceOnUse"
                    x1="0"
                    y1="258.0001"
                    x2="512.0002"
                    y2="258.0001"
                    gradientTransform="matrix(1 0 0 -1 0 514.0002)"
                >
                    <stop offset="0" style="stop-color: #80d8ff" />
                    <stop offset="0.16" style="stop-color: #88d1ff" />
                    <stop offset="0.413" style="stop-color: #9fbefe" />
                    <stop offset="0.725" style="stop-color: #c4a0fd" />
                    <stop offset="1" style="stop-color: #ea80fc" />
                </linearGradient>
                <path
                    style="fill: url(#SVGID_1_)"
                    d="M506.134,241.843c-0.006-0.006-0.011-0.013-0.018-0.019l-104.504-104
	c-7.829-7.791-20.492-7.762-28.285,0.068c-7.792,7.829-7.762,20.492,0.067,28.284L443.558,236H20c-11.046,0-20,8.954-20,20
	s8.954,20,20,20h423.557l-70.162,69.824c-7.829,7.792-7.859,20.455-0.067,28.284c7.793,7.831,20.457,7.858,28.285,0.068l104.504-104
	c0.006-0.006,0.011-0.013,0.018-0.019C513.968,262.339,513.943,249.635,506.134,241.843z"
                />
                <g></g>
                <g></g>
                <g></g>
                <g></g>
                <g></g>
                <g></g>
                <g></g>
                <g></g>
                <g></g>
                <g></g>
                <g></g>
                <g></g>
                <g></g>
                <g></g>
                <g></g>
            </svg>
        </div>
        <!-- <div id="right"> -->
        <%- include('../partials/right_pane') %>
        <!-- </div> -->
        <%- body %>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
        <script src="/js/stopTransition.js"></script>
        <script src="/js/settings.js"></script>
        <script src="/js/navigation.js"></script>
    </body>
</html>
