<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Lora&family=Roboto:wght@300&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap"
      rel="stylesheet"
    />
    <link href="https://fonts.googleapis.com/css2?family=Delicious+Handrawn&family=Spectral:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/main/styles.css" />
    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
    <title>Website</title>
  </head>

  <body class="<%= theme %>">
    <%- include('../partials/top_bar') %> <%-
    include('../partials/error_screen') %>
    <%- include('../partials/left_bar')
    %> <%- include('../partials/left_pane') %>
    <!-- <div id="right"> -->
    <%- include('../partials/right_pane') %>
    <!-- </div> -->
    <%- body %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="/js/stopTransition.js"></script>
    <script src="/js/settings.js"></script>
  </body>
</html>
