<% layout('layouts/boilerplate') %>
<div id="content">
  <div class="textbox">
    <div class="top">
      <h1 id="title" class="title"></h1>
      <% if (id.length!==0) { %>
      <a href="/entry/<%= id %>/edit" class="saveNow btn">Edit</a>
      <% } %>
      <input type="date" name="date" id="date" disabled style="display: none" />
    </div>
    <div id="entry-metadata">
      <div id="dateText"></div>
      <div id="wordsWrapper">
        <div id="readTime"></div>
      </div>
    </div>
    <textarea id="markdownEditor"></textarea>
    <div class="entry-footer" style="margin-top: 1em">
      <div>
        <% if(prevEntries.length){ %> Forgot the context? Read the previous
        entry
        <a href="/entry/<%= entry._id %>"> <%= prevEntries?.[0].title %> </a>
        <% } %>
      </div>
      <div>
        <% if(nextEntries.length){ %> Want to know what happens next? Read the
        next entry
        <a href="/entry/<%= entry._id %>"> <%= nextEntries?.[0].title %> </a>
        <% } %>
      </div>
    </div>
  </div>
</div>
<script>
  let id = '<%= id %>'
  let entry = JSON.parse(
    decodeURIComponent(escape(window.atob('<%= entry %>')))
  )
</script>
<script src="/js/script.js"></script>
<script src="/js/setEntry.js"></script>
<script src="/js/home.js"></script>
